baseURL = 'https://sven.guru/'
languageCode = 'en-us'
title = 'Sven Koschnicke'
theme = 'wizard'

defaultContentLanguage = 'en'
[languages]
  [languages.de]
    languageName = 'Deutsch'
    weight = 2
  [languages.en]
    languageName = 'English'
    weight = 1

[markup.goldmark.renderer]
  unsafe = true

[params]
    brand = "sven.guru"
    description = "Thoughts about tech"

    # Simplified menu structure
    menu = [
        {Name = "About", URL = "/about/", HasChildren = false},
        {Name = "Posts", URL = "/posts/", HasChildren = false},
    ]

    # Essential social links only
    email_url = "mailto:s.koschnicke@gfxpro.com"
    github_url = "https://github.com/SKoschnicke"
    linkedin_url = "https://www.linkedin.com/in/svenkoschnicke/"
    mastodon_url = "https://chaos.social/@darkunicorn"
    rss_icon = true
    rss_section = "posts"
