<!-- To automatically render mermaid diagrams -->
{{ if ne (.Page.Scratch.Get "hasMermaid") true }}
{{ $mermaidJS := resources.Get "js/mermaid.esm.min.mjs" }}
{{ $mermaidJS = $mermaidJS | resources.Fingerprint }}
<script type="module">
    import mermaid from '{{ $mermaidJS.RelPermalink }}';
    
    const currTheme = document.documentElement.getAttribute('data-theme');
    const mermaidTheme = currTheme === "light" ? "default" : "dark";
    
    mermaid.initialize({theme: mermaidTheme});
</script>

{{ .Page.Scratch.Set "hasMermaid" true }}
{{ end }}
<div class="mermaid">
  {{- .Inner | safeHTML }}
</div>
